<div class="container">
  <h2 class="my-4 text-color">Add a New Transaction</h2>
  <%= form_for @transaction, url: category_transactions_path(@category) do |f| %>
    <div class="form-group">
      <%= f.label :name, class: 'text-color' %>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
    
    <div class="form-group">
      <%= f.label :amount, class: 'text-color' %>
      <%= f.text_field :amount, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :category_ids, "Categories", class: 'text-color' %>
      <%= f.collection_select :category_ids, Category.all, :id, :name, { required: true }, multiple: true, class: 'form-control' %>
    </div>

    <div class="actions mt-3">
      <%= f.submit "Save", class: 'btn secondary-color' %>
      <%= link_to "Back", category_transactions_path(@category), class: 'btn primary-color ml-2 back-link' %>
    </div>
  <% end %>
</div>
